In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [250]:
dataset = pd.read_csv('ErdosNetworkExcel.txt', delimiter='\t', header = None, names = ['Source','Target','Third','Fourth'])
dataset = dataset.drop(['Third','Fourth'], axis = 1)
dataset = dataset.dropna(how='all')
#dataset = dataset.replace(np.nan,'',regex = True)
dataset

,Source,Target
0,"ABBOTT, HARVEY LESLIE 1974",NaN
1,NaN,"Aull, Charles E."
2,NaN,"Brown, Ezra A."
3,NaN,"Dierker, Paul F."
4,NaN,"Exoo, Geoffrey"
5,NaN,"Gardner, Ben"
6,NaN,"HANSON, DENIS"
7,NaN,"Hare, Donovan R."
8,NaN,"Katchalski, Meir"
9,NaN,"Liu, Andy C. F."
10,NaN,"MEIR, AMRAM"
11,NaN,"MOON, JOHN W."
12,NaN,"MOSER, LEO*"
13,NaN,"Pareek, Chandra Mohan"
14,NaN,"Riddell, James"
15,NaN,"SAUER, NORBERT W."
16,NaN,"SIMMONS, GUSTAVUS J."
17,NaN,"Smuga-Otto, M. J."
18,NaN,"SUBBARAO, MATUKUMALLI VENKATA*"
19,NaN,"Suryanarayana, D."
20,NaN,"Toft, Bjarne"
21,NaN,"Wang, Edward Tzu Hsia"
22,NaN,"Williams, Emlyn R."
23,NaN,"Zhou, Bing^1"
25,"ACZEL, JANOS D. 1965",NaN
26,NaN,"Abbas, Ali E."
27,NaN,"Aczel, S."
28,NaN,"Alsina Catala, Claudi"
29,NaN,"Baker, John A."
30,NaN,"Beckenbach, Edwin F."
...,...,...
20643,NaN,"Springsteel, Frederick N."
20645,"ZAREMBA, STANISLAW KRYSTYN* 1973",NaN
20646,NaN,"Godwin, H. J."
20647,NaN,"Halton, John Henry"
20648,NaN,"Kedem, Gershon"
20649,NaN,"Kestin, Joseph"
20650,NaN,"Kulvetsas, L. L."
20651,NaN,"Lomnicki, Z. A."
20652,NaN,"Mann, Henry B."
20653,NaN,"Schoenberg, Isaac Jacob"
20654,NaN,"SOS, VERA TURAN"
20655,NaN,"Steiger, William L."
20657,"ZHANG, ZHEN XIANG 1993: 2",NaN
20658,NaN,"Liu, Xian Bei"
20659,NaN,"Pei, Ding Yi"
20660,NaN,"Tang, Min^3"
20661,NaN,"Xie, Ruirui"
20662,NaN,"Zeng, Ken Cheng"
20663,NaN,"Zhou, Weiping"
20665,"ZIV, ABRAHAM* 1961",NaN
20666,NaN,"Aharoni, Merav"
20667,NaN,"Amdursky, Vardy"
20668,NaN,"Asaf, Sigal"
20669,NaN,"Fournier, Laurent"
20670,NaN,"Gal, Shmuel"
20671,NaN,"GINZBURG, ABRAHAM"
20672,NaN,"Maharik, Ron"
20673,NaN,"Nehama, Ilan"
20674,NaN,"Nikulshin, Ilya"
20675,NaN,"Rubinstein, Reuven Y."

In [251]:
df = dataset.copy()
df.Source = df.Source.fillna(method='ffill')
df.Source = [''.join([i for i in row if not i.isdigit()])[:-3].strip() for row in df.Source]
df

                            Source                          Target
0            ABBOTT, HARVEY LESLIE                             NaN
1            ABBOTT, HARVEY LESLIE                Aull, Charles E.
2            ABBOTT, HARVEY LESLIE                  Brown, Ezra A.
3            ABBOTT, HARVEY LESLIE                Dierker, Paul F.
4            ABBOTT, HARVEY LESLIE                  Exoo, Geoffrey
5            ABBOTT, HARVEY LESLIE                    Gardner, Ben
6            ABBOTT, HARVEY LESLIE                   HANSON, DENIS
7            ABBOTT, HARVEY LESLIE                Hare, Donovan R.
8            ABBOTT, HARVEY LESLIE                Katchalski, Meir
9            ABBOTT, HARVEY LESLIE                 Liu, Andy C. F.
10           ABBOTT, HARVEY LESLIE                     MEIR, AMRAM
11           ABBOTT, HARVEY LESLIE                   MOON, JOHN W.
12           ABBOTT, HARVEY LESLIE                     MOSER, LEO*
13           ABBOTT, HARVEY LESLIE           Pareek, Chandra Mohan
14           ABBOTT, HARVEY LESLIE                  Riddell, James
15           ABBOTT, HARVEY LESLIE               SAUER, NORBERT W.
16           ABBOTT, HARVEY LESLIE            SIMMONS, GUSTAVUS J.
17           ABBOTT, HARVEY LESLIE               Smuga-Otto, M. J.
18           ABBOTT, HARVEY LESLIE  SUBBARAO, MATUKUMALLI VENKATA*
19           ABBOTT, HARVEY LESLIE               Suryanarayana, D.
20           ABBOTT, HARVEY LESLIE                    Toft, Bjarne
21           ABBOTT, HARVEY LESLIE           Wang, Edward Tzu Hsia
22           ABBOTT, HARVEY LESLIE              Williams, Emlyn R.
23           ABBOTT, HARVEY LESLIE                    Zhou, Bing^1
25                 ACZEL, JANOS D.                             NaN
26                 ACZEL, JANOS D.                   Abbas, Ali E.
27                 ACZEL, JANOS D.                       Aczel, S.
28                 ACZEL, JANOS D.           Alsina Catala, Claudi
29                 ACZEL, JANOS D.                  Baker, John A.
30                 ACZEL, JANOS D.            Beckenbach, Edwin F.
...                            ...                             ...
20643         ZALCSTEIN, YECHEZKEL       Springsteel, Frederick N.
20645  ZAREMBA, STANISLAW KRYSTYN*                             NaN
20646  ZAREMBA, STANISLAW KRYSTYN*                   Godwin, H. J.
20647  ZAREMBA, STANISLAW KRYSTYN*              Halton, John Henry
20648  ZAREMBA, STANISLAW KRYSTYN*                  Kedem, Gershon
20649  ZAREMBA, STANISLAW KRYSTYN*                  Kestin, Joseph
20650  ZAREMBA, STANISLAW KRYSTYN*                Kulvetsas, L. L.
20651  ZAREMBA, STANISLAW KRYSTYN*                 Lomnicki, Z. A.
20652  ZAREMBA, STANISLAW KRYSTYN*                  Mann, Henry B.
20653  ZAREMBA, STANISLAW KRYSTYN*         Schoenberg, Isaac Jacob
20654  ZAREMBA, STANISLAW KRYSTYN*                 SOS, VERA TURAN
20655  ZAREMBA, STANISLAW KRYSTYN*             Steiger, William L.
20657            ZHANG, ZHEN XIANG                             NaN
20658            ZHANG, ZHEN XIANG                   Liu, Xian Bei
20659            ZHANG, ZHEN XIANG                    Pei, Ding Yi
20660            ZHANG, ZHEN XIANG                     Tang, Min^3
20661            ZHANG, ZHEN XIANG                     Xie, Ruirui
20662            ZHANG, ZHEN XIANG                 Zeng, Ken Cheng
20663            ZHANG, ZHEN XIANG                   Zhou, Weiping
20665                ZIV, ABRAHAM*                             NaN
20666                ZIV, ABRAHAM*                  Aharoni, Merav
20667                ZIV, ABRAHAM*                 Amdursky, Vardy
20668                ZIV, ABRAHAM*                     Asaf, Sigal
20669                ZIV, ABRAHAM*               Fournier, Laurent
20670                ZIV, ABRAHAM*                     Gal, Shmuel
20671                ZIV, ABRAHAM*               GINZBURG, ABRAHAM
20672                ZIV, ABRAHAM*                    Maharik, Ron
20673                ZIV, ABRAHAM*                    Nehama, Ilan
20674                ZIV, ABRAHAM*                 Nikulshin, Ilya
20675                ZIV, ABRAHAM*           Rubinstein, Reuven Y.

[20166 rows x 2 columns]

In [252]:
df2 = dataset.copy().replace(np.nan,'',regex = True)
df2
coauthors = [row for row in df2.Source if len(row) > 0]
coauthors
publications = [row[-4:] for row in coauthors]
publications
nums = [int(''.join([i for i in row if i.isdigit()])) for row in publications]
publications = []
for i in nums:
    if (i < 1000):
        publications.append(i)
    else:
        publications.append(1)
coauthors = [''.join([i for i in row if not i.isdigit()])[:-3].strip() for row in coauthors]
Publishers = pd.DataFrame()
Publishers['Authors'] = coauthors
Publishers['NumPublications'] = publications

                                  Authors  NumPublications
0                   ABBOTT, HARVEY LESLIE                1
1                         ACZEL, JANOS D.                1
2                           AGOH, TAKASHI                1
3                            AHARONI, RON                1
4                       AIGNER, MARTIN S.                1
5                           AJTAI, MIKLOS                1
6                      ALAOGLU, LEONIDAS*                2
7                          ALAVI, YOUSEF*                8
8                    ALLADI, KRISHNASWAMI                5
9                           ALON, NOGA M.                5
10                  ANDERSON, JAMES MILNE                1
11                        ANDRASFAI, BELA                1
12               ANKENY, NESMITH CORNETT*                1
13                     ANNING, NORMAN H.*                1
14                         ARKIN, JOSEPH*                1
15               ARNEY, DAVID CHRISTOPHER                1
16                          ARONOV, BORIS                1
17                       ASH, J. MARSHALL                1
18                  ASHBACHER, CHARLES D.                1
19                    AVIS, DAVID MICHAEL                2
20                          BABAI, LASZLO                3
21                     BABU, GUTTI JOGESH                3
22                   BAGEMIHL, FREDERICK*                4
23                           BALOG, ANTAL                1
24                         BANKOFF, LEON*                1
25                        BARAK, AMNON B.                1
26                 BATEMAN, PAUL TREVIER*                5
27               BAUMGARTNER, JAMES EARL*                2
28                      BEASLEY, LEROY B.                1
29                           BECK, ISTVAN                1
..                                    ...              ...
481                 VAALER, JEFFREY DAVID                2
482                          VALTR, PAVEL                1
483          VAN KAMPEN, EGBERTUS RUDOLF*                1
484          VAN LINT, JACOBUS HENDRICUS*                2
485                    VARMA, ARUN KUMAR*                2
486               VAUGHAN, ROBERT CHARLES                2
487  VAZSONYI, ANDREW* (WEISZFELD, ENDRE)                2
488                  VERTESI, PETER O. H.                7
489              VESZTERGOMBI, KATALIN L.                2
490                    VIJAYAN, KAIPILLIL                3
491                       VINCZE, ISTVAN*                3
492                        VOLKMANN, BODO                1
493      WAGSTAFF, SAMUEL STANDFIELD, JR.                1
494                       WANG, JIAN-FANG                1
495              WEAKLEY, WILLIAM DOUGLAS                1
496                      WEISS, GARY LYNN                1
497                   WEST, DOUGLAS BRENT                2
498               WILLIAMSON, ALAN GLYNNE                1
499               WILSON, RICHARD MICHAEL                1
500                   WILSON, ROBIN JAMES                1
501                   WINKLER, PETER MANN                2
502             WINTNER, AUREL FRIEDRICH*                3
503             WORMALD, NICHOLAS CHARLES                1
504                    YAO, FOONG FRANCES                1
505                         ZAKS, ABRAHAM                1
506                          ZAKS, SHMUEL                1
507                  ZALCSTEIN, YECHEZKEL                3
508           ZAREMBA, STANISLAW KRYSTYN*                1
509                     ZHANG, ZHEN XIANG                2
510                         ZIV, ABRAHAM*                1

[511 rows x 2 columns]

In [269]:
df3 = df.copy()
df3 = df3.dropna()
df3 = df3.loc[df3['Target'].isin(df3['Source'])]
df3['Weight'] = [1 for row in df3.iterrows()]
df3.replace(',','',regex=True,inplace=True)
df3.to_csv('Edges.csv',index = False)

In [257]:
groupy = df3.groupby(['Source']).sum()
l = []
for i in Publishers.Authors:
    if (i in groupy.index):
        l.append(groupy.loc[groupy.index == i].Weight[0])
    else:
        l.append(1)

In [270]:
Publishers['NumCoAuthors'] = l
Publishers.replace(',','',regex=True,inplace=True)
Publishers.to_csv('Weights.csv', index = False)

In [289]:
Publishers.sort_values("NumCoAuthors", ascending = False)

                          Authors  NumPublications  NumCoAuthors
9                    ALON NOGA M.                5            53
164           GRAHAM RONALD LEWIS               28            44
43                  BOLLOBAS BELA               18            43
377                  RODL VOJTECH               11            42
186                 HARARY FRANK*                2            42
147                 FUREDI ZOLTAN               10            40
478                    TUZA ZSOLT               11            39
437                SOS VERA TURAN               35            39
439           SPENCER JOEL HAROLD               23            35
176                GYARFAS ANDRAS               15            34
340                    PACH JANOS               21            32
77   CHUNG FAN RONG KING (GRAHAM)               14            31
179                 HAJNAL ANDRAS               56            30
127     FAUDREE RALPH JASPER JR.*               50            30
354        POMERANCE CARL BERNARD               23            30
286                 LOVASZ LASZLO                7            29
248            KLEITMAN DANIEL J.                7            29
461               SZEMEREDI ENDRE               29            29
325             NESETRIL JAROSLAV                4            28
402       SCHELP RICHARD HERBERT*               42            27
289                 LUCZAK TOMASZ                7            27
20                   BABAI LASZLO                3            26
448           STRAUS ERNST GABOR*               20            26
68        CHARTRAND GARY THEODORE                5            25
260         KOSTOCHKA ALEXANDR V.                2            25
398                SARKOZY ANDRAS               62            25
429             SIMONOVITS MIKLOS               21            24
497            WEST DOUGLAS BRENT                2            24
139                  FRANKL PETER                6            23
388                 RUZSA IMRE Z.                5            23
..                            ...              ...           ...
427               SILVERMAN RUTH*                1             1
442                 STEIN ALAN H.                1             1
334               OBLATH RICHARD*                1             1
192                 HARTTER ERICH                1             1
438           SPECKER ERNST PAUL*                1             1
337          OFFORD ALBERT CYRIL*                1             1
436              SOIFER ALEXANDER                2             1
435                 SMITH PAUL R.                1             1
434        SMITH BRENT PENDLETON*                1             1
433             SKILTON DONALD K.                3             1
432                SIRAO TUNEKITI                1             1
102                DELEGLISE MARC                1             1
233                    JOO MIKLOS                1             1
231                 JONES FRED B.                2             1
110               DIXMIER JACQUES                1             1
225         JACKSON STEPHEN CRAIG                2             1
111              DOWKER YAEL NAIM                1             1
113              DUDLEY UNDERWOOD                1             1
344               PAPP ZOLTAN Z.*                1             1
421               SHENG TSENG KUO                1             1
119           EL-ZAHAR MOHAMED H.                1             1
229               JARNIK VOJTECH*                1             1
123                   ERNE MARCEL                1             1
417     SHAPIRO HAROLD NATHANIEL*                3             1
124              EVANS ANTHONY B.                2             1
129               FELDHEIM ERVIN*                1             1
347        PENNEY DAVID EMROY II*                1             1
132                   FEW LEONARD                1             1
411        SEGAL SANFORD LEONARD*                1             1
510                  ZIV ABRAHAM*                1             1

[511 rows x 3 columns]